@model dotnetapp.Models.Player

<div class="jumbbotron">
    <div class="container" style=" padding:10px;margin-top: 40px;  width:100%; height:100%; background-color:#333; text-align:left">
        <H2 style="padding:10px;text-align:center; color:white ;background-color:red" >DETAILS OF : @Model.Name.ToUpper()</H2>
        <br>
        <table class="table" style="color:white;padding:50px;"  >
            <thead>
                <th>TITLE</th>
                <th>DETAIL</th>

            </thead>
            <tbody>
            <tr><td>@Html.DisplayNameFor(m=>m.Category)</td><td>@Html.DisplayFor(m=>m.Category)</td></tr>
            <tr><td>@Html.DisplayNameFor(m=>m.BiddingAmount)</td><td>@Html.DisplayFor(m=>m.BiddingAmount)</td></tr>
            <tr><td>@Html.DisplayNameFor(m=>m.TeamId)</td><td>@Html.DisplayFor(m=>m.TeamId)</td></tr>
            <tr><td>TeamName</td><td>CSK</td></tr>
            </tbody>
        </table>
        <div class="text-center" style="text-align:center;">
      <a href='@Url.Action("Index", "Player")'>  <input type="submit" value="RETURN TO LIST" style="padding:20px text-self:center"></a>
</div>
    </div>
</div>

