@model IEnumerable<dotnetapp.Models.Player>
<p background='res/bg.jpg'>
<style>
    th
    {
        color:white;
    }
    td
    {
      color:white;  
    }
</style>

<div style="width:100% ;background-color:red ;text-align:center; padding:10px;">
    <h4 style="color:white;">LIST OF PLAYERS</h3>
</div>
<div style="width:100%">
<table class="table" style="text-align: start;background-color:#333;">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CATEGORY</th>
        <th>TEAMID</th>
        <th>BIDDING AMOUNT</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </thead>
    <tbody >
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Name</td>
                <td>@data.Category</td>
                <td>@data.TeamId</td>
                <td>@data.BiddingAmount</td>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>@Html.ActionLink("View","Display",new{id=@data.Id})</td>
            </tr>    
        }
        
    </tbody>

</table>
</div>


</p>